<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.member.mapper.MemberMapper">

  <select id="selectMember" parameterType="member">
    SELECT id
          ,pw
          ,name
          ,auth
          ,image
    FROM   tbl_member
    WHERE  id = #{id}
    AND    pw = #{pw}
  </select>
  
  <insert id="insertMember" parameterType="member">
	INSERT INTO tbl_member(id,
                           pw,
                           name,
                           image)
    VALUES (#{id},
            #{pw},
            #{name},
            #{image})
  </insert>
  
  <select id="memberList">
    SELECT id
          ,name
          ,auth
          ,image
    FROM   tbl_member
    ORDER BY id
  </select>
  
</mapper>