<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.board.mapper.BoardMapper">

  <select id="boardList" resultType="board" parameterType="search">
    SELECT  rn
           ,board_no
           ,title
           ,content
           ,writer
           ,view_cnt
           ,create_date
    FROM  (SELECT /*+ INDEX_DESC(b board_pk) */ rownum rn, b.*
           FROM   tbl_board b
           <where>
	         <choose>
	           <when test="searchCondition == 'T'.toString() ">
	           title LIKE '%'||#{keyword}||'%'
	           </when>
	           <when test="searchCondition == 'W'.toString() ">
	           writer LIKE '%'||#{keyword}||'%'
	           </when>
	           <when test="searchCondition == 'TW'.toString() ">
	           (title  LIKE '%'||#{keyword}||'%' OR writer LIKE '%'||#{keyword}||'%')
	           </when>
	         </choose>
	         <![CDATA[
	         AND  rownum <= (#{page} * 5)
	         ]]>
           </where>
           ) a
    WHERE  a.rn > (#{page} - 1) * 5
  </select>
  
  <select id="getTotalCnt" resultType="int" parameterType="search">
	SELECT COUNT(*)
	FROM   tbl_board
	<where>
	  <choose>
	    <when test="searchCondition == 'T'.toString() ">
	    title LIKE '%'||#{keyword}||'%'
	    </when>
	    <when test="searchCondition == 'W'.toString() ">
	    writer LIKE '%'||#{keyword}||'%'
	    </when>
	    <when test="searchCondition == 'TW'.toString() ">
	    (title  LIKE '%'||#{keyword}||'%' OR writer LIKE '%'||#{keyword}||'%')
	    </when>
	  </choose>
    </where>
  </select>
  
  <select id="selectBoard" resultType="board" parameterType="int">
  	SELECT board_no
  	      ,title
  	      ,content
  	      ,writer
  	      ,view_cnt
  	      ,create_date
  	FROM  tbl_board
  	WHERE board_no = #{bno}
  </select>
  
  <update id="updateCount" parameterType="int">
    UPDATE tbl_board
	SET    view_cnt = view_cnt + 1
	WHERE  board_no = #{bno}
  </update>
  
  <update id="updateBoard" parameterType="board">
	UPDATE tbl_board
	SET    title = #{title},
      	   content = #{content}
	WHERE  board_no = #{boardNo}
  </update>
  
  <delete id="deleteBoard" parameterType="int">
    DELETE FROM tbl_board
	WHERE  board_no = #{bno}
  </delete>
  
  <insert id="insertBoard" parameterType="board">
  	INSERT INTO tbl_board (board_no,
  	                       title,
  	                       content,
  	                       writer)
  	VALUES(board_seq.nextval,
  	       #{title},
  	       #{content},
  	       #{writer}) 
  </insert>
  
  <select id="bookList" resultType="co.yedam.board.Book">
    SELECT book_code
          ,book_name
          ,author
          ,press
          ,price
    FROM   tbl_book
    ORDER BY book_code
  </select>
  
  <insert id="insertBook" parameterType="co.yedam.board.Book">
    INSERT INTO tbl_book
    VALUES (#{bookCode},
            #{bookName},
            #{author},
            #{press},
            #{price})
  </insert>
  
  <delete id="deleteBook" parameterType="string">
    DELETE FROM tbl_book
    WHERE  book_code = #{bcode}
  </delete>
  
  
</mapper>